body {
    margin: 0;
}

.header {
    color: rgb(251, 108, 41);
    background-color: rgb(254, 209, 157);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: rgb(214, 203, 196);
    padding: 0.1rem;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    padding: 1rem;
}

li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    transition: color 0.2s;
    padding: 1rem;
    border-radius: 1rem;
}

.container {
    border-style: solid;
    border-color:rgb(255, 115, 0);
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; 
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
}

.container h2 {
    background-color: rgb(231, 187, 128);
    color: rgb(251, 108, 41);
    padding: 1rem;
    border-color:rgb(251, 108, 41);
    border-radius: 0.5rem
}

.container button {
    background-color: rgb(231, 187, 128);
    color: rgb(251, 108, 41);
    border-radius: 0.5rem;
    border-color: rgb(251, 108, 41);
    padding: 0.3rem;
}

.container p {
    background-color: rgb(231, 187, 128);
    padding: 1rem;
    border-radius: 0.5rem;
}

.dick {
    border-style: solid;
    border-color:rgb(255, 115, 0);
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    margin-bottom: 30px;
    width: 40%; 
}
.dick h2 {
    background-color: rgb(231, 187, 128);
    color: rgb(251, 108, 41);
    padding: 1rem;
    border-color:rgb(251, 108, 41);
    border-radius: 0.5rem
}

.dick button {
    background-color: rgb(231, 187, 128);
    color: rgb(251, 108, 41);
    border-radius: 0.5rem;
    border-color: rgb(251, 108, 41);
    padding: 0.3rem;
}

.dick p {
    background-color: rgb(231, 187, 128);
    padding: 6rem;
    border-radius: 0.5rem;
}
.footer {
    color: white;
    background-color: rgb(255, 115, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
